@import '../../scss/colors';

.photoSection {
  background-color: $primary-medium;
  display: flex;
  padding: 20px 20px 0;

  @media (max-width: 768px) {
    padding: 0;
  }

  &:last-child {
    padding-bottom: 20px;

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}

.photo {
  box-shadow: 4px 3px 5px -4px rgba(0,0,0,0.75);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.info {
  width: 300px;
  font-family: Mermaid;
  padding-left: 20px;
  color: $copy-dark;

  @media (max-width: 768px) {
    display: none;
  }

  p {
    font-size: 20px;
  }
}
