@import "../../scss/colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $primary-dark;
  border-bottom: 2px solid $secondary-dark;
  display: flex;
  z-index: 10;

  h1 {
    margin-left: 20px;
    flex: 1;
    font-size: 24px;
    color: $primary-light;
    font-family: HeaderFont;
  }

  .links {
    display: flex;
    padding-top: 2px;

    @media (max-width: 768px) {
      display: none;
    }

    .link {
      height: 100%;
      width: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 25px;

      a {
        color: $copy-dark;
      }

      a:hover {
        color: $copy-light;
      }
    }
  }
  .hamburger {
    display: none;
    color: $primary-light;

    @media (max-width: 768px) {
      display: block;
      margin-right: 25px;
      margin-top: 30px;
    }

  }
  .hamburgerMenu {
    position: fixed;
    z-index: 100;
    width: 50%;
    top: 80px;
    right: 0;
    background-color: $primary-dark;
    border-bottom: 2px solid $secondary-light;
    border-left: 2px solid $secondary-light;

    .link {
      height: 40px;
      display: flex;
      flex-direction: row;
      font-size: 25px;
      text-decoration: none;
      margin: 20px;

      .linkText {
        margin: 0;
        color:  $copy-light;
        font-family: Mermaid;
      }

      svg {
        color: $copy-light;
        margin-right: 20px;
      }

      a {
        color: $copy-dark;
        margin: 30px;
      }
    }
  }
}
