@import '../../scss/colors.scss';

.sideMenu {
  position: fixed;
  z-index: 1;
  top: 80px;
  height: 100%;
  background-color: $primary-medium;

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .link {
      display: flex;
      flex-direction: row;

      a {
        color: $copy-dark;
      }

      a:hover {
        color: $copy-light;
      }

      p {
        text-align: right;
      }
    }
  }
}

.alignLeft {
    left: 0;
}

.alignRight {
  right: 0;
}
