@import './scss/colors.scss';

html,body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: $primary-light;
}

@font-face {
  font-family: 'HeaderFont';
  src: local('HeaderFont'), url(./fonts/Halimun.ttf) format('truetype');
}

@font-face {
  font-family: 'Mermaid';
  src: local('Mermaid'), url(./fonts/Mermaid.ttf) format('truetype');
}
